body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

main {
    background-color:  #fff;
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

#filter-sort-section {
    flex: 1;
    margin-right: 20px;
    min-width: 200px;
}

#filter-section, #sort-section, #type-filter-section, #price-filter-section {
    margin-bottom: 20px;
}

#recipes-section {
    flex: 2;
}

.recipe {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    cursor: pointer;
}